/* set some gap between the nav items */

nav {
  display: flex;
  margin: 2em;;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-family: "Montserrat", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}